*{
    box-sizing: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}

.destinations{  
    width: 100%;
    display: flex;  
    text-align: center;
    color: gray;
    
}
a{
    text-decoration: none;
    font-size: 13px;
    margin-right: 15px;
    color: gray;

}
@media screen and (max-width: 950px) {
    *{
       box-sizing: 0;       
       padding: 0;
    }
    body{
        background-color: yellow;
    }
     /*--------------------950px header------------------*/
    .secondSearchBox{                
        display: flex;
        background-color: antiquewhite;       
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        margin-bottom: 40px;       
    
    }

    /*----------------------airbnb logo-----------------*/
    #airSize{
        font-size: 40px;
        color: rgb(231, 104, 104);
    }
    /*--------------------triple search box-------------*/
    .tripleSearchBox{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        border: 1px solid rgb(230, 209, 209);
        height: 48px;
        width: 340px;    
        font-size: 15px;
        border-radius: 40px;
        box-shadow: 0pt 1.5pt 0.5pt rgb(214, 202, 202);
        padding-right: 30px;
    }
   
    #searchTwo{
        font-size: 13px;       
        border-radius: 50%;
        padding: 9px;
        background-color: rgb(216, 31, 31);
        margin-left: 15px;
        color: white;
        position: absolute;
        margin-left: 80px;          
    }
    .searchBox{
        display: none;
    }
    /*-------------------second search box----------------*/
    .secondSearchBox{       
        height: 80px;        
        border-bottom: 1px solid rgb(206, 199, 199);
        margin-left: -8px;
        margin-top: -8px;         
        display: flex;   
        width: 100%;
        position:absolute;     
        
        
    }
    /*-------------------right box login---------------------*/
    .doubleSearchBox{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    /*--------------------Burger Menu ellipse-------------------*/
    .burgerMenu{
        border: 0.5pt solid gray;       
        display: flex;
        align-items: center;
        border-radius: 30px;
        width: 63px;
        height: 30px;
        padding: 5px;
    }
    .pageIcon-links{
        padding-top: 100px;
        font-size: 25px;
    }
    

}


@media screen and (max-width: 750px) {
    body{
        background-color: rgb(31, 226, 41);
    }
    .secondSearchBox{
        display: none;
      
    }
    .searchBox{       
        border: 1px solid gray;
        border-radius: 30px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: aliceblue;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;      
        box-shadow: 1px 5px 1px solid gray;
    }
    .para{      
        display: inline-block;
        justify-content: left;
        text-align: left;      
        position: fixed;
        margin-left: 30px;
       
    }
    #para1{
        color: rgb(36, 34, 34);
    }
    #para2{
        color: gray;
        font-size: 13px;
        margin-top: -12px;
    }
    .pageIcon-links{
        padding-top: 20px;
        font-size: 25px;
        width: 100%;
        display: inline-flex;
    }
   
    
    
}

